{% extends 'mutual/base.html' %}
{% load static %}
{% block site_title %}
    <h4 class="text-center">Add your comment</h4>
{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form class="furniture-form" method="post"  action="{% url 'comment art' art.id %}" >
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" value="Post" class="btn btn-secondary">
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>


{% endblock %}