<footer class="site-footer">
    <div class="wrapper">
        <section class="widget widget-about">
            <header>
                <h3>Art-Gallery</h3>
            </header>
            <div class="widget-content">
                <p>The most beautiful pictures you ever saw!</p>
            </div>
        </section>

        <section class="widget widget-contacts">
            <header>
                <h4>Contacts</h4>
            </header>
            <div class="widget-content">
                <ul>
                    <li>
                            <span class="icon-element"><i
                                    class="fas fa-phone-volume"></i></span>
                        <a href="tel:070012345">070012345</a>
                    </li>
                    <li>
                        <span class="icon-element"><i class="fas fa-envelope"></i></span>
                        <a href="mailto:office@purplesspider.bg">
                            office@artgallery.bg
                        </a>
                    </li>
                    <li>
                        <span class="icon-element"><i class="fas fa-clock"></i></span>
                        <span>Monday-Friday: 09:00 - 18:00</span>
                    </li>
                    <li>
                        <span class="icon-element"><i class="fas fa-map-marked"></i></span>
                        <span>Sofia,<br> 28 Home Str. fl.1</span>

                    </li>
                </ul>
            </div>
        </section>


    </div>
</footer>
