{% load static %}

<header class="site-header">
    <div class="wrapper">
        <div class="site-branding">
            <p class="site-title">
                <a href="/">Art-Gallery</a>
            </p>
            <p class="site-description">
                The most beautiful pictures you ever saw!
            </p>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'list arts' %}">Arts</a></li>

                {% if user.is_authenticated and user.is_active %}
                    <li><a href="{% url 'create art' %}">Add Arts</a></li>
                    <li><a href="{% url 'my_profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout user' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'login user' %}">Log in</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% endif %}

                <li><a href="{% url 'about page' %}">About</a></li>
            </ul>
        </nav>

    </div>
</header>